/* rib */
.con-min-width {
  min-width: var(--site-width);
}

.con {
  width: var(--site-width);
}

/* custom */
:root {
  --site-width: 1920px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading::after {
  content: "로딩중..";
}

/* section-2 */
.section-2>div {
  background-image: url(https://cdn.jsdelivr.net/gh/kimleehong/webpf/docs/img_2/process_bg_2.png);
  width: 1920px;
  height: 361px;
}

.section-2__text_1 {
  justify-content: center;
  align-items: center;
}

/* section-3 */
.section-3>div {
  background-image: url(https://cdn.jsdelivr.net/gh/kimleehong/webpf/docs/img_2/process_bg_3.png);
  width: 1920px;
  height: 453px;
}

.section-3__text_1 {
  position: absolute;
  bottom: 87px;
  left: 420px;
}

.section-3__text_2 {
  position: absolute;
  bottom: 87px;
  left: 950px;
}

.section-3__text_3 {
  position: absolute;
  bottom: 87px;
  left: 1000px;
}

/* section-4 */
.section-4>div {
  background-image: url(https://cdn.jsdelivr.net/gh/kimleehong/webpf/docs/img_2/process_bg_4.png);
  width: 1920px;
  height: 802px;
}

.section-4__text_1 {
  position: absolute;
  bottom: 324px;
  left: 537px;
}

.section-4__text_2 {
  position: absolute;
  bottom: 324px;
  left: 880px;
}

.section-4__text_3 {
  position: absolute;
  bottom: 324px;
  left: 1230px;
}

.section-4__text_4 {
  position: absolute;
  bottom: 87px;
  width: 100%;
  justify-content: center;
  display: flex;
}

/* section-5 */
.section-5>div {
  background-image: url(https://cdn.jsdelivr.net/gh/kimleehong/webpf/docs/img_2/process_bg_5.png);
  width: 1920px;
  height: 3771px;
}

.section-5__text_1 {
  position: absolute;
  top: 262px;
  left: 294px;
}

.section-5__text_2 {
  position: absolute;
  top: 294px;
  left: 546px;
}

.section-5__text_3 {
  position: absolute;
  top: 868px;
  left: 294px;
}

.section-5__text_4 {
  position: absolute;
  top: 2677px;
  left: 294px;
}

/* section-6 */
.section-6>div {
  background-image: url(https://cdn.jsdelivr.net/gh/kimleehong/webpf/docs/img_2/process_bg_6.png);
  width: 1920px;
  height: 2125px;
}

.section-6__text_1 {
  position: absolute;
  top: 262px;
  right: 294px;
}

.section-6__text_2 {
  position: absolute;
  top: 1086px;
  right: 294px;
}

/* section-7 */
.section-7>div {
  background-image: url(https://cdn.jsdelivr.net/gh/kimleehong/webpf/docs/img_2/process_bg_7.png);
  width: 1920px;
  height: 901px;
}

.section-7__text_1 {
  position: absolute;
  top: 312px;
  right: 294px;
}

.section-7__text_2 {
  position: absolute;
  top: 189px;
  left: 627px;
}

.section-7__text_3 {
  position: absolute;
  top: 672px;
  left: 404px;
}

/* section-8 */
.section-8>div {
  background-image: url(https://cdn.jsdelivr.net/gh/kimleehong/webpf/docs/img_2/process_bg_8.png);
  width: 1920px;
  height: 716px;
}

.section-8__text_1 {
  position: absolute;
  top: 185px;
  left: 294px;
}

.section-8__text_2 {
  position: absolute;
  top: 238px;
  left: 1012px;
}

/* section-9 */
.section-9>div {
  background-image: url(https://cdn.jsdelivr.net/gh/kimleehong/webpf/docs/img_2/process_bg_9.png);
  width: 1920px;
  height: 716px;
}

.section-9__text_1 {
  position: absolute;
  top: 77px;
  right: 0;
}

/* section-10 */
.section-10>div {
  background-image: url(https://cdn.jsdelivr.net/gh/kimleehong/webpf/docs/img_2/process_bg_10.png);
  width: 1920px;
  height: 557px;
}

.section-10__text_1 {
  position: absolute;
  top: 190px;
  left: 294px;
}

.section-10__text_2 {
  position: absolute;
  top: 190px;
  left: 641px;
}

.section-10__text_3 {
  position: absolute;
  top: 190px;
  left: 988px;
}

.section-10__text_4 {
  position: absolute;
  top: 190px;
  left: 1336px;
}

/* section-11 */
.section-11>div {
  background-image: url(https://cdn.jsdelivr.net/gh/kimleehong/webpf/docs/img_2/process_bg_11.png);
  width: 1920px;
  height: 359px;
}

/* footer */
.btn-to-top {
  position: fixed;
  bottom: 30px;
  right: 2px;
  padding: 10px;
  z-index: 20;
  cursor: pointer;
}

.btn-to-top>div {
  border: 1px solid #757575;
  border-radius: 9999px;
  padding: 22px 3px 22px 3px;
  background-color: white;
}

.btn-to-top>div>img {
  height: 2rem;
}